# --------------------------
# LangChain Core
# --------------------------
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-ollama

# --------------------------
# Vector DB + Embeddings
# --------------------------
pinecone-client
sentence-transformers

# --------------------------
# Audio / Speech-to-Text
# --------------------------
openai-whisper
sounddevice
scipy
numpy

# --------------------------
# Utilities
# --------------------------
python-dotenv
pandas
requests
tqdm
fpdf


livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
mem0ai

langchain_community
requests
python-dotenv
flask
flask-cors
PyJWT
motor
groq